<% layout("/layouts/boilerplate")%>
<div class="row mt-0 mx-auto">
  <div class="col-md-8 mx-auto">
      <br><br>
      <h3>Edit Your Listing</h3>
      <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
          enctype="multipart/form-data">
          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" value="<%= listing.title %>" name="listing[title]"
                  class="form-control border border-black border-opacity-50" required>
 
          </div>
          <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea cols="20" rows="3" name="listing[description]"
                  class="form-control border border-black border-opacity-50"
                  required><%= listing.description %></textarea>
              <div class="invalid-feedback">Please enter a short description.</div>
          </div>
          <!-- <div class="mb-3">
              <label for="image" class="form-label">Image Link</label>
              <input type="text" value= "<%#= listing.image %>" name="listing[image]" class="form-control" required>
              <div class="invalid-feedback">Please enter a image link.</div>
          </div> -->
          <div class="mb-3">
              <label for="image" class="form-label">Original Image Preview</label><br>
              <img src="<%= listing.image.url %>" alt="Original Image" class="listingImg" style="
              object-fit: contain;
              width: 12rem;
          ">
          </div>
          <div class="row mb-3">
              <div class="col-10">
                  <label for="image" class="form-label">Upload New Image</label>
                  <input type="file" name="listing[image]"
                      class="form-control border border-black border-opacity-50 imageInput" id="verify-img" onchange="previewImage()">
                  
              </div>
              <label for="price" class="form-label">Price</label>
              <input type="number" value="<%= listing.price %>" name="listing[price]"
              class="form-control border border-black border-opacity-50" required>
         
      </div>
  
  </div>
  <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input type="text" value="<%= listing.country %>" name="listing[country]"
          class="form-control border border-black border-opacity-50" required>

  </div>
</div>
<div class="mb-3">
  <label for="location" class="form-label">Location</label>
  <input type="text" value="<%= listing.location %>" name="listing[location]"
      class="form-control border border-black border-opacity-50" required>

</div>
<button class="btn btn-success mb-3 styleBtn">Edit</button>
</form>




